@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url("/fontes/idroid.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
}

body{
    background-color: rgb(132, 225, 173);
}

header{ 
    background-image: linear-gradient(to bottom, #33b76d, #2b9c5e, #1b6139);
}

header > h1{
    color: white;
    text-align: center;
}

header > p {
    text-align: center;
    color: white;
}

nav > a {
    color: white;
}